@import url(https://fonts.googleapis.com/css?family=Play:regular,700);


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Play';
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    width: 50px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a,.play_btn a{
    text-decoration: none;
    text-decoration-color: #111823;
    color: #111823;
}

.links a:hover{
    background-color: #ff4654;
    padding: 5px 10px;
    border-radius: 10px;
    color: whitesmoke;
}


.play_btn{
    background-color: #ff4654;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.play_btn a{
    color: whitesmoke;
}

.play_btn:hover{
    background-color: #ba3a46;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
